@model BirdRecognizer.Train.Models.CreateTagViewModel
@{
    ViewData["Title"] = "Create New Tag";
}

<div class="row">
    <div class="col-md-12">
        <h2>Create New Tag</h2>

        @using (Html.BeginForm("Create", "Tags", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        
            <fieldset>
                <legend>Tag Details</legend>

                <div class="form-field">
                    @Html.LabelFor(m => m.Name)
                    <div class="form-field-input">                 
                        @Html.EditorFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                
                <div class="form-field">
                    @Html.LabelFor(m => m.Description)
                    <div class="form-field-input">                 
                        @Html.EditorFor(m => m.Description)
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <br/>
                    <input class="btn btn-primary" type="submit" value="Save">
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
                </div>
            </fieldset>
        } 
    </div>
</div>
